.title {
    background-color: red;
    text-align: center;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: aliceblue;
}

.row {
    border-radius: 30px;
    background-color: white;
}

img {
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.btn1 {
    border: none;
    outline: none;
    height: 50px;
    width: 100%;
    background-color: red;
    color: white;
    border-radius: 4px;
    font-weight: bold;
}

.btn1:hover{
    background-color: white;
    border: 1px solid;
    color: red;
}