* {
    font-family: sans-serif; /* Change your font family */
  }
  
  .admin-table {
    position: relative;
    border-collapse: collapse;
    margin: auto 0;
    font-size: 1.7em;
    min-width: auto;
    border-radius: 15px 15px 0 0;
    overflow: hidden;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.15);
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    vertical-align: middle;   
    height: 80%;
    width: 100%;
    }

  .searchBox {
    background-image: url('/css/searchicon.png'); /* Add a search icon to input */
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 100%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
    }
  
  .admin-table thead tr {
    background-color: #FF0000;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    }
  
  .admin-table th,
  .content-table td {
    padding: 15px 17px;
    text-align: center;
    vertical-align: middle;
    }
  
  .admin-table tbody tr {
    border-bottom: 1px solid #dddddd;
    text-align: center;
    vertical-align: middle;
    }
  
  .admin-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
    text-align: center;
    vertical-align: middle;
    }
  
  .admin-table tbody tr:last-of-type {
    border-bottom: 2px solid #FF0000;
    text-align: center;
    vertical-align: middle;
    }
  
  .admin-table tbody tr.active-row {
    font-weight: bold;
    color: #FF0000;
    text-align: center;
    vertical-align: middle;
    }

  .Ban {
      background-color: #a09696;
      height: 30px;
      width: 60px;
      margin: auto;
      display: inline-block;
      font-size: medium;
      font-weight: bold;
      text-align: center;
    vertical-align: middle;
    }

  .Delete {
    background-color: #a09696;
    height: 30px;
    width: 60px;
    text-align: center;
    margin: auto;
    display: inline-block;
    font-size: medium;
    font-weight: bold;
    vertical-align: middle;
    }

.Edit {
    background-color: #a09696;
    height: 30px;
    width: 60px;
    text-align: center;
    margin: auto;
    display: inline-block;
    font-size: medium;
    font-weight: bold;
    vertical-align: middle;
    }

.spark {
     text-align: left;
     display: inline-block;
     font-size: xx-large;
     font-weight: bold;
    }

* {
    box-sizing: border-box;
  }
  
  * {
    box-sizing: border-box;
  }
  
  
  /* Clear floats */
  form.example::after {
    content: "";
    clear: both;
    display: table;
  }
